.ima-ad-container {
  z-index: 1 !important;
}
.ima-ad-container > div:nth-child(1) > div:nth-child(1) {
  overflow: hidden;
  height: 100%;
}
.ima-ad-container > div:nth-child(1) > div:nth-child(1) > video:nth-child(1) {
  width: unset !important;
}
.ima-ad-container div iframe {
  display: none;
}

/* skip button styling */
.videojs-ads-info {
  position: relative;
  bottom: 5rem;
  color: black;
  z-index: 1;
  flex-direction: row-reverse;
  display: none;
}
.videojs-ads-info.enabled {
  display: flex;
}

.videojs-ads-info > span,
.videojs-ads-info > a {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.3);
  color: white !important;
  border: 1px solid white;
  border-right: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 120%;
  display: none;
}
